body{
    background-color: rgb(14, 15, 14);
}

*{
    margin: 0;
    padding: 0;
}

nav{
   font-family:'Courier New', Courier, monospace ; 
}

.navlogo img{
    width: 44px;
    padding: 0 8px;
    border-radius: 40px;
}

nav ul{
    list-style-type: none;
    height: 60px;
    display: flex;
    background-color: rgb(122, 55, 55);
    align-items: center;
}

nav ul li{
    padding: 0 12px;
    color: white;
    cursor: pointer;
}


.navlogo{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: x-large;
    
}

.container{
    min-height: 62vh;
    background-color: black;
    color: white;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px ;
    padding: 32px;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
 
}

.bottom{
    position: sticky;
    height: 80px;
    background-color: rgb(122, 55, 55);
    color: white;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.icons{
    margin-top: 12px;
}

.icons i{
    cursor: pointer;
}

       
.songItemContainer{
    margin-top: 34px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: #fff;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 10vw;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
    
}

